<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Grid Layouts</title>
</head>
<body>
    <div class="grid-container">
        <div class="header">
            Header
        </div>
        <div class="navigation">
            Navigation
        </div>
        <div class="section">
            Section
            <div class="article">
                <h3>article</h3>
            </div>
        </div>
        <div class="aside">aside</div>
        <div class="footer">
            footer
        </div>
    </div>
</body>
</html>