.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'navigation navigation navigation navigation navigation navigation'
    'section section section section aside aside'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
   
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .header{
      background-color: red; 
      grid-area: header;
  }
  .navigation{
      background-color: greenyellow;
      grid-area: navigation;
  }
  .section{
      background-color: pink;
      grid-area: section;
  }
  .aside{
      background-color: cornflowerblue;
      grid-area: aside;
  }
  .footer{
      background-color: blueviolet;
      grid-area: footer;
  }