<!DOCTYPE html>
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header-sec">
        <h2 class="header">Header</h2>
    </div>
    <div class="navigation-sec">
        <h2 class="txt-cntr">Navigation</h2>
    </div>
    <div class="section-sec">
        <div class="aside-sec">
            <h3 class="txt-cntr">Aside</h3>
        </div>
        <h3 class="txt-cntr">Section</h3>
    </div>
    

    <div class="footer-sec">
        <h3 class="txt-cntr">Footer</h3>
    </div>
</body>

</html>
