* {
  box-sizing: border-box;
}
.container-sec {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto auto auto auto;
  background-color: #ebebe0;
  padding: 10px;
  width: 40%;
}
.grid-item {
  background-color: #f2f2f2;
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.num {
  background-color: #ffffff;
}

.grid-item:hover {
  background-color: #cccccc;
  transition: box-shadow .3s
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  cursor: pointer;
  background-color: blue;
}
